In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from tardis.io.config_reader import Configuration
from tardis.model import Radial1DModel
import pandas as pd
config = Configuration.from_yaml('isotope_file.yml')
model = Radial1DModel.from_config(config)

[tardis.model.base   ][WARNING]  Abundances have not been normalized to 1. - normalizing (base.py:345)
tardis.model.base - WARNING - Abundances have not been normalized to 1. - normalizing

In [3]:
#CSV file
# First row - Element Symbol
pd.read_csv('iso_abund.csv')

     H   He  Ni56  Ni58
0  0.2  0.3   0.4   0.5
1  0.1  0.3   0.4   0.6
2  0.1  0.3   0.4   0.6
3  0.1  0.3   0.4   0.6
4  0.1  0.3   0.4   0.6
5  0.1  0.3   0.4   0.6
6  0.1  0.3   0.4   0.6
7  0.1  0.3   0.4   0.6
8  0.1  0.3   0.4   0.6

In [4]:
model.raw_isotope_abundance

                                  0         1         2         3         4  \
atomic_number mass_number
28            56           0.285714  0.285714  0.285714  0.285714  0.285714
              58           0.357143  0.428571  0.428571  0.428571  0.428571

                                  5         6         7         8
atomic_number mass_number
28            56           0.285714  0.285714  0.285714  0.285714
              58           0.428571  0.428571  0.428571  0.428571

In [5]:
model.raw_abundance

,0,1,2,3,4,5,6,7,8
atomic_number,,,,,,,,,
1,0.142857,0.071429,0.071429,0.071429,0.071429,0.071429,0.071429,0.071429,0.071429
2,0.214286,0.214286,0.214286,0.214286,0.214286,0.214286,0.214286,0.214286,0.214286

In [6]:
#Convert old abundance file format to above one
from tardis.util import convert_abundances_format
df = convert_abundances_format('abund.dat')
df

,H,He,Li,Be,B,C,N,O,F,Ne,...,Sc,Ti,V,Cr,Mn,Fe,Co,Ni,Cu,Zn
0,0,0,0,0,0,0.0,0,0.0,0,0,...,0,0,0,0,0,0.2,0.1,0.1,0,0
1,0,0,0,0,0,0.0,0,0.0,0,0,...,0,0,0,0,0,0.2,0.1,0.1,0,0
2,0,0,0,0,0,0.0,0,0.0,0,0,...,0,0,0,0,0,0.2,0.1,0.1,0,0
3,0,0,0,0,0,0.0,0,0.2,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
4,0,0,0,0,0,0.0,0,0.2,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
5,0,0,0,0,0,0.0,0,0.2,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
6,0,0,0,0,0,0.0,0,0.2,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
7,0,0,0,0,0,0.0,0,0.2,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
8,0,0,0,0,0,0.5,0,0.5,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
9,0,0,0,0,0,0.5,0,0.5,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0

In [7]:
#Save
df.to_csv('new_df.csv',index=False)

In [8]:
#CSV file
pd.read_csv('new_df.csv')

,H,He,Li,Be,B,C,N,O,F,Ne,...,Sc,Ti,V,Cr,Mn,Fe,Co,Ni,Cu,Zn
0,0,0,0,0,0,0.0,0,0.0,0,0,...,0,0,0,0,0,0.2,0.1,0.1,0,0
1,0,0,0,0,0,0.0,0,0.0,0,0,...,0,0,0,0,0,0.2,0.1,0.1,0,0
2,0,0,0,0,0,0.0,0,0.0,0,0,...,0,0,0,0,0,0.2,0.1,0.1,0,0
3,0,0,0,0,0,0.0,0,0.2,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
4,0,0,0,0,0,0.0,0,0.2,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
5,0,0,0,0,0,0.0,0,0.2,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
6,0,0,0,0,0,0.0,0,0.2,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
7,0,0,0,0,0,0.0,0,0.2,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
8,0,0,0,0,0,0.5,0,0.5,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
9,0,0,0,0,0,0.5,0,0.5,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0,0

In [9]:
#Using this converted csv file
config = Configuration.from_yaml('tardis__csv_abund.yml')
model = Radial1DModel.from_config(config)    
model.abundance

                 0    1    2    3    4    5    6    7    8    9
atomic_number
6              0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.5  0.5
8              0.0  0.0  0.0  0.2  0.2  0.2  0.2  0.2  0.5  0.5
12             0.0  0.0  0.0  0.1  0.1  0.1  0.1  0.1  0.0  0.0
14             0.1  0.1  0.1  0.2  0.2  0.2  0.2  0.2  0.0  0.0
16             0.1  0.1  0.1  0.2  0.2  0.2  0.2  0.2  0.0  0.0
18             0.2  0.2  0.2  0.2  0.2  0.2  0.2  0.2  0.0  0.0
20             0.2  0.2  0.2  0.1  0.1  0.1  0.1  0.1  0.0  0.0
26             0.2  0.2  0.2  0.0  0.0  0.0  0.0  0.0  0.0  0.0
27             0.1  0.1  0.1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
28             0.1  0.1  0.1  0.0  0.0  0.0  0.0  0.0  0.0  0.0