In [8]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
from tardis.io.config_reader import Configuration
from tardis.model import Radial1DModel
config = Configuration.from_yaml('isotope.yml')

In [10]:
type(config.model.abundances)

tardis.io.config_reader.ConfigurationNameSpace

In [11]:
model=Radial1DModel.from_config(config)

[tardis.model.base   ][WARNING]  Abundances have not been normalized to 1. - normalizing (base.py:345)
tardis.model.base - WARNING - Abundances have not been normalized to 1. - normalizing

In [13]:
type(model.raw_isotope_abundance)

pandas.core.frame.DataFrame

In [18]:
model.abundance

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
atomic_number,,,,,,,,,,,,,,,,,,,,
8,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095
12,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015
14,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260
16,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095
18,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020
20,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015

In [19]:
#Without isotopes
config = Configuration.from_yaml('tardis_example.yml')
model=Radial1DModel.from_config(config)

In [20]:
config.model.abundances

{'Ar': 0.04,
 'Ca': 0.03,
 'Mg': 0.03,
 'O': 0.19,
 'S': 0.19,
 'Si': 0.52,
 'type': 'uniform'}

In [21]:
model.abundance

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
atomic_number,,,,,,,,,,,,,,,,,,,,
8,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19
12,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03
14,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52
16,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.19
18,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04
20,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03

In [12]:
model.raw_isotope_abundance

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Index: []