In [5]:
from tardis.io.config_reader import Configuration
from tardis.model import Radial1DModel
config = Configuration.from_yaml('isotope_file.yml')
model = Radial1DModel.from_config(config)

[tardis.model.base   ][WARNING]  Abundances have not been normalized to 1. - normalizing (base.py:366)
tardis.model.base - WARNING - Abundances have not been normalized to 1. - normalizing

In [6]:
model.raw_isotope_abundance

                               0         1         2         3    4    5  \
atomic_number mass_number
28            56           0.125  0.142857  0.153846  0.000000  0.0  0.0
              58           0.250  0.142857  0.076923  0.230769  0.0  0.0

                                  6         7      8    9
atomic_number mass_number
28            56           0.333333  0.263158  0.250  0.3
              58           0.000000  0.210526  0.125  0.2

In [7]:
model.raw_abundance

,0,1,2,3,4,5,6,7,8,9
atomic_number,,,,,,,,,,
6,0.0000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.3125,0.25
8,0.0000,0.000000,0.000000,0.153846,0.2,0.2,0.133333,0.105263,0.3125,0.25
12,0.0000,0.000000,0.000000,0.076923,0.1,0.1,0.066667,0.052632,0.0000,0.00
14,0.0625,0.071429,0.076923,0.153846,0.2,0.2,0.133333,0.105263,0.0000,0.00
16,0.0625,0.071429,0.076923,0.153846,0.2,0.2,0.133333,0.105263,0.0000,0.00
18,0.1250,0.142857,0.153846,0.153846,0.2,0.2,0.133333,0.105263,0.0000,0.00
20,0.1250,0.142857,0.153846,0.076923,0.1,0.1,0.066667,0.052632,0.0000,0.00
26,0.1250,0.142857,0.153846,0.000000,0.0,0.0,0.000000,0.000000,0.0000,0.00
27,0.0625,0.071429,0.076923,0.000000,0.0,0.0,0.000000,0.000000,0.0000,0.00
28,0.0625,0.071429,0.076923,0.000000,0.0,0.0,0.000000,0.000000,0.0000,0.00