In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from tardis.io.config_reader import Configuration
from tardis.model import Radial1DModel
config = Configuration.from_yaml('isotope.yml')

In [6]:
config.model.abundances

{'Ar': 0.04,
 'Ca': 0.03,
 'Mg': 0.03,
 'Ni56': 0.5,
 'Ni58': 0.5,
 'O': 0.19,
 'S': 0.19,
 'Si': 0.52,
 'type': 'uniform'}

In [7]:
model=Radial1DModel.from_config(config)

[tardis.model.base   ][WARNING]  Abundances have not been normalized to 1. - normalizing (base.py:365)
tardis.model.base - WARNING - Abundances have not been normalized to 1. - normalizing

In [8]:
model.raw_isotope_abundance

                             0     1     2     3     4     5     6     7   \
atomic_number mass_number
28            56           0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
              58           0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25

                             8     9     10    11    12    13    14    15  \
atomic_number mass_number
28            56           0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
              58           0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25

                             16    17    18    19
atomic_number mass_number
28            56           0.25  0.25  0.25  0.25
              58           0.25  0.25  0.25  0.25

In [9]:
model.abundance

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
atomic_number,,,,,,,,,,,,,,,,,,,,
8,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095
12,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015
14,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260
16,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095,0.095
18,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020,0.020
20,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015

In [14]:
#Without isotopes
config = Configuration.from_yaml('tardis_example.yml')
model=Radial1DModel.from_config(config)

In [15]:
config.model.abundances

{'Ar': 0.04,
 'Ca': 0.03,
 'Mg': 0.03,
 'O': 0.19,
 'S': 0.19,
 'Si': 0.52,
 'type': 'uniform'}